.header{
   background-color: darkblue;
   margin-bottom: 30px;
}
.icon{
   width: 100px;
   height: 100px;
   color: brown;
   background-color: chartreuse;
   float: left;
   margin: 10px;

}
.icon2{
   width: 100px;
   height: 100px;
   color: brown;
   background-color: chartreuse;
   float: right;
   margin: 10px;
}
.clearfix{
   clear: both;
}
.rect{
   background-color: firebrick;
   margin-bottom: 30px;
}
.logo{
   width: 100px;
   height: 100px;
   background-color: grey;
   float: left;
   margin: 10px;
}
.block{
   float: right;
}
.logo2{
   display: inline-block;
   width: 100px;
   height: 100px;
   background-color: indigo;
   margin: 10px;
}
.clearfix1{
   clear: both;

}
.box{
   float: left;
   margin-left: 200px;
   background-color: grey;
   width: 300px;
   height: 300px;
   margin-top: 10px;
   margin-bottom: 10px;

}
.block2{
     float: right;
   margin-right: 200px;
   margin-top: 10px;
   margin-bottom: 10px;

   }

.logo3{
   height: 145px;
   width: 300px;
   background-color: indigo;
   margin-bottom: 10px;
}
.clearfix1{
   clear: both;
   }

   .block3{
      float: right;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
   }
.box1{
   float: right;
   margin-left: 200px;
   background-color: grey;
   width: 300px;
   height: 300px;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-right: 30px;
}
.clearfix1{
   clear: both;
}